[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/AGRAICH-brahim
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/AGRAICH-brahim
	label-Verified = -1..+1 group user/AGRAICH-brahim
	push = group user/AGRAICH-brahim
	read = group user/AGRAICH-brahim
	rebase = group user/AGRAICH-brahim
	removeReviewer = group user/AGRAICH-brahim
	submit = group user/AGRAICH-brahim
[access "refs/heads/*"]
	create = group user/AGRAICH-brahim
	push = +force group user/AGRAICH-brahim
	pushMerge = group user/AGRAICH-brahim
	read = group user/AGRAICH-brahim
[access "refs/tags/*"]
	push = group user/AGRAICH-brahim
	push = +force group user/AGRAICH-brahim
