@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


img {
    width: 35%;
}

body{
    
    font-family: "Nunito";
    padding: 0;
    margin: 0;
    background-color: white;
    color: #636b72;
}



nav .container {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #f3f5f7;
}
nav .container .how {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

}
nav .container .how .mylogo {
    position: relative;
    display: flex;
    justify-content: center;
}
.how img {
    display: flex;
    position: relative; 
    justify-content: center;
}


nav .line{
    position: relative;
    display: flex;
    width: 100%;
    height: 5px;
    background-color: #e6d70ce3; 
    align-items: center;
  }

  .linee{
    position: relative;
    display: flex;
    width: 30%;
    height: 5px;
    background-color: #f05c94a9; 
    align-items: center;
    position: relative;
    justify-content: center;
    left: 495px;
    
  }

  .line1 {
    display: flex;
    width: 40%;
    height: 4px;

    background-color: #f9cb13 ;
    padding: 0PX 25px;

  }

  .ligne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  body .demane_paiement div {
    display: flex;
    color: #f05c94a9;
    position: relative;
    justify-content: center;
    right: 15px;
  }

  body .demane_paiement {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 30px;
    right: 15px;
    flex-direction: column;
  }


  .containner {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
  }


  .containner .row {
    width: 100%;
    position: absolute;
    top: 0;
    right: 45px;
  }

  .container2 {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #b6c8d795;
    justify-content: left;
    width: 500px;
  }

.HZA {
    padding: 15px;
}